* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #E4E4E4;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #A7A7A7), color-stop(0.51, #E4E4E4) );
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 0.75em;
    height: 100%;
    width: 100%;
    margin: 0em;
    padding: 0em;
    text-transform: uppercase;
    background-color: #32383d;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 0.75em;
}

.app {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 3.125em;
    width: 14.0625em;
    text-align: center;
    padding: 11.25em 0em 0em 0em;
    margin: 7.1875em 0em 0em -7em;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 4.6875em 0em 4.6875em 10.625em;
        margin: -5.625em 0em 0em -12.375em;
    }
}

h1 {
    font-size:1.5em;
    font-weight:normal;
    margin:0em;
    overflow:visible;
    padding:0em;
    text-align:center;
}

.event {
    border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    color: #FFFFFF;
    font-size: 0.75em;
    margin: 0em 1.875em;
    padding: 0.125em 0em;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#mapDiv {
    border: thin solid black;
}

#controlPanel {
    position: absolute;
    top: 3.125em;
    left: 0.625em;
    z-index: 2;
    background-color: #fff;
    padding: 0.3125em;
    border: 0.0625em solid #999;
    width: 20em;
    overflow: auto;
    margin-top: 2em;
}

#directions {
    float: left;
    width: 100%;
    margin: 0em;
}

button {
    margin: 0.3125em;
}

#bg_img {
    margin-top: 0em;
}

#bg_img2 {
    margin-left: 0em;
}

.interface {
    display: inline-block;
}

.menu ul {
    list-style: none; /* Remove the bullet from list items */
    padding: 0px; /* Remove default padding from list items */
    margin: 0px; /* Remove default margin from list items */
}

.menu a {
    text-decoration: none; /* remove the underline from a menu */
    color: #ccc;
    background-color: #61c6f0;
}

.menu a:hover,
.menu a:active {
    color: #0ac;
    background-color: #ddd;
}

#menuSelect {
    width: 1em;
    height: 1em;
}

#main_content {
    width: 80%;
    height: 80%;
}

.menu{
    margin-top: 100%;
    margin-left: 100%;
    position: absolute;
}

#menuIMG {
    margin-left: 46%;
    margin-top: 10em;
    height: 200px;
    width:200px;
}

ul {
    list-style-type: none;
    text-align: center;
    font-size: 2em;
    margin-left: 0em;
}

li {
    width: 8em;
    height: 2em;
    margin: 0 auto;
    line-height: 2em;
    text-align: center;
    overflow: hidden;
    background-color: #ff9137;
}

a:link, a:visited, a:active {
    color: #fff;
    text-decoration: none;
}

a:hover {
    display: block;
    text-decoration: none;
    color: #3CF;
    background-color: saddlebrown;
    font-size: 1em;
}

a {
    display: block; /*整体变为可点击区域，而不只是字*/
    color: black;
    background-color: #ff9137;
}

#menuHtml {
    width: 100%;
    height: 100%;
    flex-grow: 100;
}

button:hover {
    background-color: saddlebrown;
}

li:hover {
    background-color: saddlebrown;
}

main{
    width: 100%;
    height: 100%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

 .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
 }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
        color: black;
        text-decoration: none;
        display: block;
        padding-left: 5em;
    }

.dropdown a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}

.loading {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 5;
}

.loading .progress {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}